.page {
    min-height: 90vh;
}

table, tr {
    width: 50vw;
    border: 1px solid white;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

th {
    text-align: left;
    padding: 10px;
}

h2 {
    text-align: center;
}